<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>
    <add key="DBConnection" value="Data Source=MyDataSource;Initial Catalog=MyDB;Integrated Security=true;providerName=System.Data.SqlClient" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--json network file path-->
    <add key="SourcePath" value="\\gbips-i-dw681\WebApps\AnalyticsPlatform" />
    <add key="DestinationPath" value="\TestData" />
    <add key="AssetPostFixPath" value="\wwwroot\app\assets\i18n" />
    <add key="Extension" value="json" />
    <add key="ResourceJson" value="\TestData\en.json" />
    <add key="GlobalVarPath" value="\bin\TestData\Common\" />
    <add key="RootTestDataPath" value="\bin\TestData\" />
    <add key="CommonTestDataPath" value="\bin\TestData\Common\" />
    <add key="PlatformTestDataPath" value="\bin\TestData\Platform\" />
    <add key="RootObjRepoPath" value="\bin\ObjectRepository\" />
    <add key="PlatformObjRepoPath" value="\bin\ObjectRepository\Platform\" />
    <add key="Files" value="\bin\Files\" />
  </appSettings>


  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-106.6.10.0" newVersion="106.6.10.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.5.13.1" newVersion="5.5.13.1" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  

  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="TestAutomation.Framework" />
    </stepAssemblies>

    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="MsTest" />
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

</configuration>
